.content1{
	width:100%;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	line-height: 1px;
	margin-top: 5px;
	border:1px solid black;
}
.content1 > p{
	margin-left: 10px;
}
.content2{
	width:100%;
	height: 600px;
	margin-top: 2px;
	font-size: 15px;
}
.main{
	width: 100%;
	height: 1540px;
	margin-bottom: 5px;
	border:1px solid black;
}
#sample{
	margin-left: 70px;
	margin-top: 25px;
	

}